
<div class="event_pool">
<h1>Events</h1>
<%= link_to 'Create an Event', :controller => :events, :action => :new %><br>
<%= flash[:msg] unless flash[:msg] == nil%>
<% @events.each do |event| %>

	<%= link_to event.title, {:controller => :events, :action => :show_event, :eid => event.event_id}, :remote => true %>
	<br/>
	<%= event.desc %><br/>

	
<% end %>
</div>