<%= javascript_tag "$(document).ready(function() { mapEdit() });" %>

<%= form_for @event, :url => { :action => :edit, :eid => @event.event_id } do |f| %>
		<div class="signup_form">
	<div class="edit_title">
		<span class="red">edit your </span><span class="blue">event</span>
	</div>
	<%= render "form_event_info", :form => f, :sub_val => "Submit Changes" %>
	</div>
<% end %>