

<%= form_for @event, :url => { :action => :new } do |f| %>
	<div class="signup_form">
	<div class="edit_title">
		<span class="red">create your </span><span class="blue">event</span>
	</div>
	<%= render "form_event_info", :form => f, :sub_val => "Create event" %>
	</div>
<% end %>