var title = "<%= @event.title %>";
var content = "<%= escape_javascript(render "comments/comment_box", :event => @event) %>";
var foo = "<p>123</p>"

var dialog = new goog.ui.Dialog(null, true);

    dialog.setContent(content);
    dialog.setTitle(title);
 
    dialog.setButtonSet(goog.ui.Dialog.ButtonSet.OK);
 
    goog.events.listen(window, 'unload', function() {
      goog.events.removeAll();
    });

dialog.setVisible(true);
