<p> <%= results.length %> people are free now </p>
<br>
<table>
  <tr>
    <th>Here comes the List!</th>
  </tr>
<% results.each do |hit| %>
  <tr>
  	<td>
  	<% if (hit[1] <= 60) %> 
  		<%= hit[0] + " is free for less than 1 minute :(" %>
  	<% elsif ((hit[1] > 60) && (hit[1] <= 3600)) %>
  		<%= hit[0] + " is free for about " + (hit[1]/60).round.to_s + " minutes." %>
  	<% elsif (hit[1] > 3600) %>
  		<%= hit[0] + " is free for about " + (hit[1]/3600).round.to_s + " hours." %>
  	<% end %>
 	</td>
  </tr>
<% end %>
</table>

<br><br><br>
<input id="close_matching" type="button" value="Close" onclick="close_matching()" />