<%
@page_title 	= 'Edit Account'
@page_heading 	= 'Edit Account'
%>


<% form_for @account, :url => {:action => :edit, :aid => @account.aid} do |f| %>
	
<div class="signup_form">
	<div class="edit_title">
		<span class="red">edit your </span><span class="blue">account</span>
	</div>
	<%= render :partial => "form_account_info", :locals => {:target => @account, :form => f, :pass => false, :submit_value => "Save my account", :cancel => true}%>
	</div>
<% end %>

<!-- <%= link_to 'View Calendar', {:controller => :gcal, :action => :view} %> -->

