var aid = <%= @follow.followee %>
$("div#linksz" + aid).children().remove()
$("div#linksz" + aid).append("<a id=\"unfollow_link\", href=\"/accounts/unfollow?aid=" + aid + "\" data-remote=\"true\">Unfollow</a>")