var aid = <%= @fol.followee %>
$("div#linksz" + aid).children().remove()
$("div#linksz" + aid).append("<a id=\"follow_link\", href=\"/accounts/follow?aid=" + aid + "\" data-remote=\"true\">Follow</a>")