body {
	margin: 0px;
	padding 0px;
}
.gray {
	color: #777777;
}
.blue {
	color: #5fb6ed;;
}
.red {
	color: #ed5fbc;
}

#google_map_option {
	padding-top: 3px !important;
	width: 13px;
	height: 13px;
}
.event_cancel {
	margin-left: 5px;
	color: black;
	text-decoration: none;
}
.event_cancel:hover {
	text-decoration: underline;
}
#edit_sub {
	font-weight: none;
	width: 170px;
}
.edit_title {
	font-size: 40px;
	margin-left: 100px;
	margin-bottom: 25px;
}
.profile_bar_container {
	height: 29px;
	/*border-bottom: 1px solid #808080;*/
}
.profile_bar {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	height: 29px;
	width: 700px;
}
	.profile_bar img {
		padding: 6px 0px 6px 0px;
	}
	.toolbar_link {
		color: #282828 ;
		/*color: #5fb6ed;*/
		height: 15px;
		padding: 5px 0px 7px 3px;
		display: inline-block;
		text-decoration: none;
		font: 17px "Calibri";
	}
	.toolbar_link:hover {

		text-decoration: underline;
	}
	.toolbar_link:visited {
		text-decoration: none;
	}
	.profile_bar #toolbox {
		margin-left: 260px;
		display: inline-block;
	}
	.profile_bar #floatleft {
		display: block;
		float: left;
		margin-right: 5px;
	}
	.profile_bar #search_form {
		
		width: 130px;
		margin-top: 3px;
		margin-bottom: 3px;
		padding: 2px;
		display: block;
		border-top: 1px solid #808080 ;
		border-bottom: 1px solid #808080 ;
		border-radius: 2px;
	}
	.profile_bar #search_sub {
		width: 22px;
		height: 19px;
		background-image: url("../images/search.png");
		border: none;
		margin: 0px;
		padding: 0px;
	}
	.profile_bar #search_sub:hover {
		cursor: pointer;
	}
	.profile_bar form #search_search_input {
		width: 100px;
		font-family: "Calibri";
		padding: 2px;
		margin: 0px;
		border-radius: 2px;
		border: none;
		outline-style: none;
	}
	
.testbar_container {
	height: 29px;
	border-bottom: 1px solid #808080;
}
.testbar {
	margin: 0px auto;
	width: 500px;
	height: 30px;
	border: 1px solid blue;
}
.bar {
	display: block;
	height: 29px;
	border-bottom: 1px solid #808080;
}
	.bar img {
		margin-left: 10%;
		padding: 6px 0px 0px 5px;
	}

.inner_profile_bar {
	margin: 0px auto;
	display: inline-block;
	width: 500px;
	height: 27px;
	border: 1px solid red;
}
.profile_main {
	margin-top: 100px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	display: block;
}

#who_is_free {
	position: fixed;
	top: 50%;
	right: 0%;
	-webkit-transform: rotate(-90deg);
}

#matching_results_box {
	position: fixed;
	top: 20%;
	right: 0%;
	width: 300px;
	height: 400px;
}

#matching_results {
	position: fixed;
	margin-left: 300px;
	border: 1px solid #C8C8C8;
	border-radius: 2px, 2px;
	width: 300px;
}

.main_title {
	display: block;
	font-size: 24px;
	font-family: arial;
	margin-bottom: 10px;
	color: #7db6ed;
}

.gray_submit {
	border-radius: 3px;
	margin: 0px 0px 10px 0px;
	padding: 4px 10px;
	font: 12px arial;
	height: auto;
	width: auto;
	border: 1px solid #C8C8C8 ;
	background: url('../images/button3.png');
	color: black;
	text-decoration: none;
}
.gray_submit:hover {
		
	border: 1px solid #707070 ;
	cursor: pointer;
}

.event_pool {
	float: left;
	display: block;
	width: 490px;
	margin-bottom: auto;
	font-family: "Calibri";
	border-right: 1px solid #D8D8D8;
}

	.event_pool #pool_title {
		display: block;
		font-size: 30px;
		font-family: arial;
		margin-bottom: 20px;
		color: #7db6ed;
	}
	.event_pool .event_link {
		color: #ed5fbc;
		font-size: 20px;
		text-decoration: none;
		font-weight: bold;
	}
	.event_pool .event_desc {
		font-family: arial;
		font-size: 12px;
	}
	.event_pool .event_link:hover {
		color: #e83fae;
	}
	.event_pool .event {
		position: relative;
		padding: 4px 3px 7px 3px;
	}
	.event_pool .event:hover {
		border-radius: 3px;
		background: #f7f7f7;
	}
	.event_pool .timestamp {
		margin-left: -50px;
		padding-top: 8px;
		position: absolute;
		height: 20px;
		width: 10px;
		font: 12px verdana;
		color: gray;
	}
	
	.event_pool .event_creator {
		font: 10px verdana;
		color: gray;
	}
	
	.event_pool .time_guide {
		font: bold 20px verdana;
	}
	
	.event_pool .join {
		position: absolute;
		top: 20%;
		right: 2%;
	}
	
.right_pool {
	font-family: verdana;
	float: right;
	display: block;
	width: 200px;
	min-height: 20px;
}
.signup {
	margin: 0px 0px 0px 0px;
}
.signup_form {

	border-radius: 8px;
	background: white;
	width: 750px;
	margin-top: 80px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Lucida Grande', sans-serif;
	
}
	.signup_form textarea {
		outline-style: none;
		font-family: 'Lucida Grande', sans-serif;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #A0A0A0 ;
	}
	
	.signup_form textarea:focus {
		border: 1px solid black ;
	}
	
	.signup_form #piglet {
		position: relative;
		left: 480px;
		bottom: 350px;
		
	}
	.signup_form #spon {
		color: #ed5fbc;
	}
	.signup_form #simp {
		color: #5fb6ed;
	}
	.signup_form #meeve {
		color: #66cc99;
		font-family: "Arial Rounded MT Bold";
	}
	.signup_form #signup_title {
		font: 40px "Arial";
		margin: 20px 0px 30px 50px;
	}
	.signup_form #signup_submit {
		margin: 15px 0px 30px 0px;
		padding: 7px 15px;
		font: 16px arial;
		height: auto;
		width: auto;
		border: 1px solid #C8C8C8 ;
		background: url('../images/button3.png');
	}
	.signup_form #signup_submit:hover {
		
		border: 1px solid #707070 ;
		cursor: pointer;
	}
	
	.signup_form th {
		text-align: right;
		font-weight: normal;
		width: 200px;
		color: #303030  ;
		padding: 6px 10px 6px 0px;
		font-size: 16px;
		/*letter-spacing: 0.06em;*/
	}
	
	.signup_form td {
	}
	
	.signup_form input {
		outline-style: none;
		padding: 3px 6px 3px 6px;
		width: 200px;
		font-size: 18px;
		height: 30px;
		border-radius: 5px;
		border: 1px solid #A0A0A0 ;
	}
	
	.signup_form input:focus {
		border: 1px solid black;
		border-radius: 5px;
	}
	
	.signup_form #signup_error {
		font-family: verdana;
		font-size: 10px;
		padding: 2px 0px 0px 6px;
		color: red ;
	}
	
	.signup_form #hint {
		font-family: verdana;
		font-size: 10px;
		padding: 2px 0px 12px 6px;
		color: #505050 ;
	}

.main_container {
	font-family: "Trebuchet MS";
	font-size: 14px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	display: block;
	height: 400px;
}
	.main_container img {
		margin: 0 50px 50px 0px;
	}

	.main_container #main_para {
		font-family: "Calibri";
		font-size: 20px;
		margin: 0px 50px 0px 50px;
	}
	
	.main_container #sign_up {
		color: #383838;
		padding: 5px 0px 5px 0px;
		width: 200px;
		border-radius: 10px;
		/*border: 1px solid #d6ab29;*/
		font-family: arial;
		font-size: 30px;
		/*background: #ffcc33;*/
		background: -webkit-gradient(linear, left top, left bottom, from(#deb22c), to(#f5c32c));
		float: right;
		margin-right: 100px;			
	}
	
	.main_container #sign_up:hover {
		/*background: #f5c32c;*/
		background: -webkit-gradient(linear, left top, left bottom, from(#ca9f1d), to(#edbc26));
		cursor: pointer;
	}
	
.login_form {
	display: block;
	float: left;
	width: 350px;
}
	.login_form a {
		font-size: 12px;
		text-decoration: none;
		display: inline;
	}
	
	.login_form a:hover {
		text-decoration: underline;
		
	}
	.login_form #submit {
		display: inline-block;
		float: right;
		margin: 5px 57px 0px 0px;
		width: 185px;
	}
	.login_form #login_submit {
		font-family: verdana;
		font-weight: bold;
		color: white;
		background: #5fb6ed;
		border-radius: 3px;
		width: 80px;
		display: block;
		float: right;
		border: none;
	}
	
	#login_submit:hover {
		background: #44abec;
		cursor: pointer;
	}
	
	.login_form div {
		margin-bottom: 6px;
	}
	.login_form li {
		list-style-type: none;
		border: 1px solid yellow;
	}
	.login_form input {
		outline-style: none;
		background: #EAEAEA;
		border: 1px solid #9E9B9B;
		border-radius: 2px;
		padding: 3px;
		margin: 0px;
		width: 160px;
	}
	.login_form label {
		display: block;
		text-align: right;
		vertical-align: text-middle;
		float: left;
		padding: 2px 5px 0px 0px;
		width: 120px;
	}

