body.signup {
	/*background: url("../images/background3.png");*/
}

.signup {
	margin: 0px 0px 0px 0px;
}
.signup_form {

	border-radius: 8px;
	background: white;
	width: 750px;
	margin-top: 80px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Lucida Grande', sans-serif;
	
}
	.signup_form #piglet {
		position: relative;
		left: 480px;
		bottom: 350px;
		
	}
	.signup_form #spon {
		color: #ed5fbc;
	}
	.signup_form #simp {
		color: #5fb6ed;
	}
	.signup_form #meeve {
		color: #66cc99;
		font-family: "Arial Rounded MT Bold";
	}
	.signup_form #signup_title {
		font: 40px "Arial";
		margin: 20px 0px 30px 50px;
	}
	.signup_form #signup_submit {
		margin: 15px 0px 30px 0px;
		padding: 7px 15px;
		font: 16px arial;
		height: auto;
		width: auto;
		border: 1px solid #C8C8C8 ;
		background: url('../images/button3.png');
	}
	.signup_form #signup_submit:hover {
		
		border: 1px solid #707070 ;
		cursor: pointer;
	}
	
	.signup_form th {
		text-align: right;
		font-weight: normal;
		width: 200px;
		color: #303030  ;
		padding: 6px 10px 6px 0px;
		font-size: 16px;
		/*letter-spacing: 0.06em;*/
	}
	
	.signup_form td {
	}
	
	.signup_form input {
		outline-style: none;
		padding: 3px 6px 3px 6px;
		width: 200px;
		font-size: 18px;
		height: 30px;
		border-radius: 5px;
		border: 1px solid #A0A0A0 ;
	}
	
	.signup_form input:focus {
		border: 1px solid black;
		border-radius: 5px;
	}
	
	.signup_form #signup_error {
		font-family: verdana;
		font-size: 10px;
		padding: 2px 0px 0px 6px;
		color: red ;
	}
	
	.signup_form #hint {
		font-family: verdana;
		font-size: 10px;
		padding: 2px 0px 12px 6px;
		color: #505050 ;
	}

.main_container {
	font-family: "Trebuchet MS";
	font-size: 14px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	display: block;
	height: 400px;
}
	.main_container img {
		margin: 0 50px 50px 0px;
	}

	.main_container #main_para {
		font-family: "Calibri";
		font-size: 20px;
		margin: 0px 50px 0px 50px;
	}
	
	.main_container #sign_up {
		color: #383838;
		padding: 5px 0px 5px 0px;
		width: 200px;
		border-radius: 10px;
		/*border: 1px solid #d6ab29;*/
		font-family: arial;
		font-size: 30px;
		/*background: #ffcc33;*/
		background: -webkit-gradient(linear, left top, left bottom, from(#deb22c), to(#f5c32c));
		float: right;
		margin-right: 100px;			
	}
	
	.main_container #sign_up:hover {
		/*background: #f5c32c;*/
		background: -webkit-gradient(linear, left top, left bottom, from(#ca9f1d), to(#edbc26));
		cursor: pointer;
	}
	
.login_form {
	display: block;
	float: left;
	width: 350px;
}
	.login_form a {
		font-size: 12px;
		text-decoration: none;
		display: inline;
	}
	
	.login_form a:hover {
		text-decoration: underline;
		
	}
	.login_form #submit {
		display: inline-block;
		float: right;
		margin: 5px 57px 0px 0px;
		width: 185px;
	}
	.login_form #login_submit {
		font-family: verdana;
		font-weight: bold;
		color: white;
		background: #5fb6ed;
		border-radius: 3px;
		width: 80px;
		display: block;
		float: right;
		border: none;
	}
	
	#login_submit:hover {
		background: #44abec;
		cursor: pointer;
	}
	
	.login_form div {
		margin-bottom: 6px;
	}
	.login_form li {
		list-style-type: none;
		border: 1px solid yellow;
	}
	.login_form input {
		outline-style: none;
		background: #EAEAEA;
		border: 1px solid #9E9B9B;
		border-radius: 2px;
		padding: 3px;
		margin: 0px;
		width: 160px;
	}
	.login_form label {
		display: block;
		text-align: right;
		vertical-align: text-middle;
		float: left;
		padding: 2px 5px 0px 0px;
		width: 120px;
	}
	
h1 {
	color: #66CC99;
}
