<div class="main_container">
	<% if flash[:success] != nil %>
				<div class="flash_success_login">
					<%= flash[:success]%>
					<div class="flash_close_button">
						<a href="#" onclick="$('.flash_success_login').hide(); return false">okay</a>
					</div>
				</div>
	<% end %>
		
	<%= render :partial => 'main/login_form', :locals => { :object_name => 'account', :username_field_name => 'email', :password_field_name => 'password' }%>
	<%= image_tag("logo/meeve2.png") %>
	
	<p id="main_para"> Meeve is spontaneous, fun, and easy.  Decide how <b>you</b> want to spend your time.  Connet with friends and have fun.</p>
		<%= button_to 'Sign Up!',  {:controller => :accounts, :action => :new}, :method => :get, :id => "sign_up" %>
	

		
	   <!--  FACEBOOK STUFF DEAL WITH LATER!
	   	
	   	<p><fb:login-button autologoutlink="true"></fb:login-button></p>
	    
	
	    <div id="fb-root"></div>
	    <script>
	      window.fbAsyncInit = function() {
	        FB.init({appId: '165057366850273', status: true, cookie: true,
	                 xfbml: true});
	      };
	      (function() {
	        var e = document.createElement('script');
	        e.type = 'text/javascript';
	        e.src = document.location.protocol +
	          '//connect.facebook.net/en_US/all.js';
	        e.async = true;
	        document.getElementById('fb-root').appendChild(e);
	      }());
    </script> -->
</div>