<%= render :partial => "main/profile_bar" %>

<div class="profile_main">
	<%= render :partial => "events/event_pool", :locals => {:friend => false} %>
	<div class="right_pool">

		<%= render :partial => "main/right_pool", :locals => {:following => @following, :followings => @followings} %>
	</div>
</div>

<div id="matching_results_box">
	<div id="matching_results"></div>
</div>

<span id="who_is_free">
	<%= link_to 'Who\'s free?', {:controller => :accounts, :action => :matching}, :remote => true %>
</span>
