<%
@page_title 	= 'Forgot password'
@page_heading 	= 'Forgot Password'
%>
<div class="signup_form">
	<div id="signup_title"><span class="blue">recover your</span><span class="red"> password</span></div>
	<table>
	<% form_tag :action => :recover_password do -%>
		<tr>
			<th>
				Email: 
			</th>
			<td> 
				<%= text_field "user", "email" %>
			</td>
		</tr>
		<tr>
			<th></th>
			<td id="hint">
				the email you used to sign up
			</td>			
		</tr>
		<tr>
			<th/>
			<td>				
				<%= submit_tag "Send Instructions", :id => "signup_submit" %> <%=link_to 'Cancel', {:action => :index}, :class => "event_cancel" %>
			</td>
		</tr>
	<% end -%>
	</table>
</div>