<%
@page_title 	= 'Forgot password'
@page_heading 	= 'Forgot Password'
%>

<p>Please enter the email that you registered your account with below.</p>
<p>A new password will be given to you to log in with.</p>
<p>Your new password will be emailed to that email account.</p>

<% form_tag :action => :recover_password do -%>
	<p>
		Email: <%= text_field "user", "email" %>
		<%= submit_tag "Submit" %>
	</p>
<% end -%>
<p><%=link_to 'Back to login page', :action => :index %></p>